<div class="row post-comment">
    <h4 class="col-sm-3">
        <strong>{{ comment.user.username }}</strong> {{ 'commented on' }}
        <strong>{{ comment.publishedAt|date() }}</strong>
    </h4>
    <div class="col-sm-9">
        {{ comment.content|md2html }}
    </div>
</div>