{% extends "::base.html.twig" %}

{% block title %} Статьи {% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container container-fluid">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="item">
                        <a href="{{ path('sonata_admin_dashboard') }}">
                            <i class="fa fa-dashboard" aria-hidden="true"></i> Admin
                        </a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="item">
                        <a href="{{ path('jmose_command_scheduler_list') }}">Command scheduler</a>
                    </li>
                {% endif %}

                <li class="item">
                    <a href="{{ path('app_articles_index') }}">
                        <i class="fa fa-home" aria-hidden="true"></i> Homepage
                    </a>
                </li>
                {% if not app.user %}
                    <li class="item"><a href="{{ path('fos_user_registration_register') }}"> Registration </a></li>
                    <li class="item"><a href="{{ path('fos_user_security_login') }}"> Authorization </a></li>
                {% endif %}
            </ul>
            {% if app.user %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> logout
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li class="item">
                        <a href="{{ path('profile', {'slug': app.user.slug}) }}">
                            <i class="fa fa-user" aria-hidden="true"></i> My profile
                        </a>
                    </li>

                    <li class="item">
                        <a href="{{ path('create_article') }}">
                            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Create article
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>

    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                {% block content %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div id="footer-copyright" class="col-md-6">
                        <p>&copy; {{ 'now'|date('Y') }} - My Project</p>
                        <p>{{ 'MIT License' }}</p>
                    </div>
                    <div id="footer-resources" class="col-md-6">
                        <p>
                            <a href="https://twitter.com/symfony" title="Symfony Twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="https://symfony.com/blog/" title="Symfony Blog">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
{% endblock %}