{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if object.avatarIsChanged %}
        <img width="200" height="200" class="img-responsive" src="{{ vich_uploader_asset(object, 'imageFile') }}">
    {% else %}
        <img width="200" height="200" class="img-responsive" src="{{ object.avatar }}">
    {% endif %}
{% endblock %}