{% block body_html %}

    <div>Hello, User!</div>
    <hr/>

    <div>
        User <b>{{ author.username }}</b> just created an <a href="{{ url('show_article', {slug: article.slug}) }}">article</a>
    </div>
    <br>

    <div>
        Regards,
        the Team.
    </div>
            
{% endblock %}