.sign_form {
    padding: 0 30px 10px 30px;
    margin-top: 80px;
    background-color: #F7F7F7;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

body {
    font-family: Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #2c3e50;
    background-color: #fff;
    padding-top: 50px;
    height: 100%;
}

.navbar {
    background-color: #563d7c;
}

.fb-login-button {
    margin-top: 10px;
}

legend {
    border-bottom: none;
}

.btn-primary {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

body#article_show .post-comment h4 {
    font-size: 13px;
    line-height: 1.42857;
    margin-top: 0;
}

footer {
    background: #ecf0f1;
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em
}

footer p {
    color: #7b8a8b;
    font-size: 13px;
    margin-bottom: 0.25em
}

footer #footer-resources {
    text-align: right
}

footer #footer-resources i {
    color: #7b8a8b;
    font-size: 28.5px;
    margin-left: 0.5em
}

#sidebar .section {
    margin-top: 2em;
}

.btn-lg {
    padding: 18px 27px;
    font-size: 19px;
    line-height: 1.33333;
    border-radius: 6px;
}

.btn-success {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}

.btn-success:focus {
    color: #fff;
    background-color: #18bc9c;
    border-color: #18bc9c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-danger:focus {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.post-metadata {
    color: #b4bcc2;
    font-size: 19px;
    margin-bottom: 16px;
}
.post-metadata .metadata {
    margin-right: 1.5em;
}

.post-tags .label {
    margin-right: 5px;
}

.jumbotron {
    margin-bottom: 40%;
}

.article {
    margin-bottom: 30%;
}

body#article_show #content h3 {
    margin-bottom: 0.75em
}

body#article_show .label-default {
    background-color: #e9ecec;
    color: #6D8283;
    font-size: 16px;
    margin-right: 10px;
    padding: .4em 1em .5em;
}
body#article_show .label-default i {
    color: #95A6A7;
}

body#article_show #post-add-comment {
    margin: 2em 0
}

body#article_show #post-add-comment p {
    margin-bottom: 0
}

body#article_show #post-add-comment p a.btn {
    margin-right: 0.5em
}

body#article_show .post-comment {
    margin-bottom: 2em
}

body #article_show .post-comment h4 {
    font-size: 13px;
    line-height: 1.42857;
    margin-top: 0
}

body#article_show .post-comment h4 strong {
    display: block
}

#add-article {
    margin-bottom: 12em;
}

.form-group.has-error .form-control {
    border: 2px solid #e74c3c;
}

.form-group .form-control {
    border: 2px solid #2c3e50;
}

.form-group.has-error .control-label {
    color: #e74c3c
}

.form-group.has-error .help-block {
    background-color: #e74c3c;
    color: #fff;
    font-size: 15px;
    padding: 1em
}

.form-group.has-error .help-block ul,
.form-group.has-error .help-block li {
    margin-bottom: 0
}
.form-group.has-error .help-block li + li {
    margin-top: 0.5em;
}

.like {
    margin-bottom: 20px;
}

#btnMore {
    width: 100px;
    border: 2px solid #ccc;
    background: #eee;
    border-radius:10px;
    margin: 10px 10px 0;
    padding: 10px;
    text-align:center;
    cursor:pointer;
}