{% extends 'AppBundle::main.html.twig' %}

{% block title %}AppBundle:Show Article{% endblock %}

{% block body_id 'article_show' %}

{% block content %}
    <h1>{{ article.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date() }}</span>
        <span class="metadata pull-right"><i class="fa fa-user"></i> {{ article.user.username }}</span>
    </p>

    <div class="well">
        <p class="m-b-0">{{ article.summary }}</p>
    </div>

    {{ article.content|raw|md2html }}
    {% if app.user %}

        <div class="row">

            {% set class = 'btn-success' %}
            {% set action = 'like' %}

            {% if contains %}
                {% set class = 'btn-danger' %}
                {% set action = 'unlike' %}
            {% endif %}

            <div class="col-lg-2" id="like-unlike">
                <a class="btn btn-sm btn-block custom {{ class }}" data-action="{{ action }}" data-id="{{ article.id }}"
                   href="#">
                    <i class="fa fa-heart" aria-hidden="true"></i> <span id="like-action">{{ action|capitalize }}</span>
                </a>
            </div>

        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-2">
            <h3> Likes <span class="likes_count">{{ article.likeUsers.count }}</span></h3>
        </div>
        <div class="col-lg-3">
            <h3> Views {{ viewsCount }} </h3>
        </div>
    </div>

    {% if app.user and not article.CommentsIsDisabled %}
        <div id="post-add-comment" class="well">

            {{ form_start(commentForm, {method: 'POST', action: path('comment_new', {'id': article.id})}) }}

            <fieldset>
                <legend>
                    <i class="fa fa-comment" aria-hidden="true"></i> {{ 'Add a comment' }}
                </legend>

                <div class="form-group {% if not commentForm.content.vars.valid %}has-error{% endif %}">
                    {{ form_widget(commentForm.content, {attr: {rows: 5}}) }}
                </div>

                <div class="form-group">
                    <button class="btn btn-primary pull-right" type="submit">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'Publish comment' }}
                    </button>
                </div>
            </fieldset>
            {{ form_end(commentForm) }}
        </div>
    {% endif %}

    <h3>
        <i class="fa fa-comments" aria-hidden="true"></i> <span
                class="comment-count">{{ commentsCount }}</span>
    </h3>

    <div class="comment-container" id="commentsBlock">
        {% for comment in article.comments %}
            {% if comment.isModerated %}
                <div class="row post-comment">
                    <h4 class="col-sm-3">
                        <strong>{{ comment.user.username }}</strong> {{ 'commented on' }}
                        <strong>{{ comment.publishedAt|date() }}</strong>
                    </h4>
                    <div class="col-sm-9">
                        {{ comment.content|md2html }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="post-comment">
                <p>{{ 'no comments' }}</p>
            </div>
        {% endfor %}
    </div>



    <ul class="tags">
        <h3>All tags</h3>
        {% for tag in article.tags %}
            <li>
                <a href="{{ path('show_by_tag', {name: tag.name}) }}">{{ tag.name }}</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block sidebar %}
    {% if app.user and app.user.id == article.user.id or is_granted('ROLE_ADMIN') %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('app_articles_edit', {'slug': article.slug}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'edit article' }}
            </a>
        </div>

        <div class="section">
            <a href="#" class="btn btn-lg btn-block btn-danger" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-trash" aria-hidden="true"></i> {{ 'delete article' }}
            </a>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Confirm removal</h4>
                    </div>
                    <div class="modal-body">
                        Are you sure? Do you want to delete the article? <br>
                        {{ article.title }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="{{ path('app_articles_remove', {'id': article.id}) }}"
                           class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('show.js') }}"></script>
{% endblock %}
