{% extends 'AppBundle::main.html.twig' %}

{% block title %}AppBundle:Articles:edit{% endblock %}

{% block content %}
    <div class="container">
        <h2 align="center">Edit Article</h2>

        <div id="add-article" class="well">
            {{ form_start(form) }}
            <fieldset>

                <div class="form-group {% if not form.title.vars.valid %}has-error{% endif %}">
                    <label>Title</label>
                    {{ form_widget(form.title) }}
                    {{ form_errors(form.title) }}
                </div>

                <div class="form-group {% if not form.summary.vars.valid %}has-error{% endif %}">
                    <label>Summary</label>
                    {{ form_widget(form.summary, {attr: {rows: 3}}) }}
                    {{ form_errors(form.summary) }}
                </div>

                <div class="form-group {% if not form.content.vars.valid %}has-error{% endif %}">
                    <label>Content</label>
                    {{ form_widget(form.content, {attr: {rows: 10}}) }}
                    {{ form_errors(form.content) }}
                </div>

                <div class="form-group {% if not form.tags.vars.valid %}has-error{% endif %}">
                    <label>Tags</label>
                    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
                        {# iterate over each existing tag and render its only field: name #}
                        {% for tag in form.tags %}
                            <li>{{ form_widget(tag.name) }}</li>
                        {% endfor %}
                    </ul>
                </div>

                {{ form_widget(form.comments_is_disabled) }}

                <div class="form-group">
                    <button class="btn btn-primary pull-right" type="submit">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> {{ 'Update article' }}
                    </button>
                </div>
            </fieldset>
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {

            $collectionHolder = $('ul.tags');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addTagFormDeleteLink($(this));
            });

            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.tags');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">delete this tag</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}