{% extends 'AppBundle::main.html.twig' %}

{% block title %}AppBundle:Articles:index{% endblock %}

{% block content %}
    <div class="container article">
        {% for article in articles %}
            {% if article.isModerated %}
                <article class="post">
                    <h2>
                        <a href="{{ path('show_article', { 'slug': article.slug }) }}">
                            {{ article.title }}
                        </a>
                    </h2>

                    <p class="post-metadata">
                        <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date() }}</span>
                        <span class="metadata pull-right"><i class="fa fa-user"></i> <a
                                    href="{{ path('profile', { 'slug': article.user.slug }) }}">{{ article.user.username }}</a></span>
                    </p>

                    {{ article.summary }}
                </article>
            {% endif %}
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}