{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-lg-4 col-md-4 col-sm-8 sign_form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <h2 class="text-center">Authorization</h2>
                    <label for="username">{{ 'Email'|trans }}</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"
                           required="required"/>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" class="form-control" required="required"/>
                    <br>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                    <input type="submit" id="_submit" class="btn btn-primary btn-lg btn-block" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                </form>
                <div id="status"></div>
                <a href="#" onclick="fb_login();">Sign in with Facebook</a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}">Sign in with Google</a>
                <p>
                    <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
                </p>
            </div>
        </div>
    </div>
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1776457279323841',                        // App ID from the app dashboard
                status: true,                                 // Check Facebook Login status
                xfbml: true                                  // Look for social plugins on the page
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function fb_login() {
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    alert('Already connected, redirect to login page to create token.');
                    document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                } else {
                    FB.login(function (response) {
                        if (response.authResponse) {
                            document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
                        } else {
                            alert('Cancelled.');
                        }
                    }, {scope: 'email'});
                }
            });
        }
    </script>
{% endblock fos_user_content %}