{% block subject %}Новый пароль{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}

    <div>Hello {{ user.username }}!</div>
    <hr/>

    <div>
        To reset your password - please visit
        <a href={{ confirmationUrl }} >link</a>
    </div>
    <br>

    Regards,
    the Team.
{% endblock %}
