{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Users:index{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <table border="0" cellpadding="3" class="table">
                    {{ form_start(form) }}
                    <tr>
                        <th> Name </th>
                        <td>
                            {{ form_row(form.name, {'label':' ' }) }}
                        </td>
                    </tr>
                    <tr>
                        <th> Surname </th>
                        <td>
                            {{ form_row(form.surname, {'label':' ' }) }}
                        </td>
                    </tr>

                    <tr>
                        <th> email </th>
                        <td>
                            {{ form_row(form.email, {'label':' ' }) }}
                        </td>
                    </tr>
                    <tr>
                        <th> Username </th>
                        <td>
                            {{ form_row(form.username, {'label':' ' }) }}
                        </td>
                    </tr>

                    <tr>
                        <th> Password </th>
                        <td>
                            {{ form_row(form.plainPassword.first, {'label':' ' }) }}
                        </td>
                    </tr>

                    <tr>
                        <th> Confirm password </th>
                        <td>
                            {{ form_row(form.plainPassword.second, {'label':' ' }) }}
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            {{ form_end(form) }}
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}