{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Users:index{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-3">
                    {% if profile.avatarIsChanged %}
                        <img class="img-responsive" src="{{ vich_uploader_asset(profile, 'imageFile') }}">
                    {% else %}
                        <img class="img-responsive" src="{{ profile.avatar }}">
                    {% endif %}

                    {% if app.user and app.user.id == profile.id %}
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    {% endif %}
                </div>
                <div class="col-lg-9">
                    <table border="0" cellpadding="3" class="table">
                        {% if app.user and app.user.id == profile.id %}
                            <tr>
                                <th> Edit profile</th>
                                <td>
                                    <form action="{{ path('edit_profile', {'slug': profile.slug}) }}">
                                        <button class="btn btn-action"> edit</button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th> Name</th>
                            <td>{{ profile.name }}</td>
                        </tr>

                        <tr>
                            <th> Surname</th>
                            <td>{{ profile.surname }}</td>
                        </tr>

                        <tr>
                            <th> Email</th>
                            <td>{{ profile.email }}</td>
                        </tr>

                        <tr>
                            <th> Username</th>
                            <td>{{ profile.username }}</td>
                        </tr>
                        {% if app.user and app.user.id != profile.id %}
                            <tr>
                                <th>
                                    <div class="row">
                                        {% set class = 'btn-primary' %}
                                        {% set action = 'subscribe' %}

                                        {% if contains %}
                                            {% set class = 'btn-warning' %}
                                            {% set action = 'unsubscribe' %}
                                        {% endif %}

                                        <div class="col-lg-9" id="subscribe">
                                            <a class="btn btn-sm btn-block follow {{ class }}"
                                               data-action="{{ action }}" data-id="{{ profile.id }}" href="#">
                                                <i class="fa fa-heart" aria-hidden="true"></i> <span
                                                        id="subscribe-action">{{ action|capitalize }}</span>
                                            </a>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>
                                followers
                            </th>
                            <td class="followers">
                                {% for follower in followers %}
                                    <li>
                                        <a href="{{ path('profile', { 'slug': follower.slug }) }}">{{ follower.username }}</a>
                                    </li>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                articles
                            </th>
                            <td class="followers">
                                {% for a in profile.articles %}
                                    {% if a.isModerated %}
                                        <li>
                                            <a href="{{ path('show_article', { 'slug': a.slug }) }}">{{ a.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('profile.js') }}"></script>
{% endblock %}
