{% extends "AppBundle::main.html.twig" %}

{% block title %}AppBundle:Tags:showTag{% endblock %}

{% block content %}
<div class="container article">
    {% for article in articlesTags %}
        <article class="post">
            <h2>
                <a href="{{ path('show_article', { 'slug': article.slug }) }}">
                    {{ article.title }}
                </a>
            </h2>

            <p class="post-metadata">
                <span class="metadata"><i class="fa fa-calendar"></i> {{ article.createdAt|date() }}</span>
                <span class="metadata pull-right"><i class="fa fa-user"></i> {{ article.user.username }}</span>
            </p>

            {{ article.summary }}
        </article>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(articlesTags) }}
    </div>
</div>

{% endblock %}
